.App {
  text-align: center;
}

.date{
  color: rgb(96, 181, 255);
  font-size: 1.8rem;
}
.main-content{
  border: 10px solid black;
  border-radius: 2rem;
  width: 50%;
  margin: 0 auto;
}
.text{
  color: darkturquoise;
}